/* Animate CSS */
.profile-picture{
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  -o-animation-delay: 2.7s;
  -ms-animation-delay: 2.7s;
}
.about-me{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
}
.logo{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -ms-animation-delay: .1s;
}
.btn-about{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  -ms-animation-delay: .2s;
}
.btn-portfolio{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
  -ms-animation-delay: .3s;
}
.btn-contact{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
  -ms-animation-delay: .4s;
}

.btn-language{
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -ms-animation-delay: .5s; 
}
.twitter{
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  -ms-animation-delay: .7s;
}
.facebook{
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  -ms-animation-delay: .8s;
}
.github{
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  -ms-animation-delay: .9s;
}
.linkedin{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  -ms-animation-delay: .6s;
}
.header-titletext{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
}
.header-subtitletext{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
}
/* /Animate CSS */

/* GENERAL CSS-RULES */
p { font-family: 'Open Sans', sans-serif; }
hr { border: 1px solid #dcdcdc; }
/* /GENERAL CSS-RULES */

/* NAVIGATION BAR */
.navbar-default{
	background-color: #474747;
	margin-bottom: 0;
	border: none;
}

.logo {
	width: 80px;
	height: 80px;
	padding: 10px 15px;
	background-color: #8901ab;
}

.navbar-brand,
.navbar-nav li a {
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	background-color: #474747;
	margin-left: 1px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
	color: #ffffff;
	border-right: 1px solid #393939;
	-webkit-box-shadow: 1px 0px 5px 0px rgba(255,255,255, .1);
	-moz-box-shadow: 1px 0px 5px 0px rgba(255,255,255, .1);
	box-shadow: 1px 0px 5px 0px rgba(255,255,255, .1);
}

.navbar-brand,
.navbar-nav li.btn-about a,
.navbar-nav li.btn-portfolio a,
.navbar-nav li.btn-contact a{
	color: #ffffff !important;
}

.navbar-brand {
	padding-right: 0;
	padding-left: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover { 
	color: #ffffff; background-color: #535252
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a{
	color: #ffffff;
	background-color: #535252;
}

.navbar-default .navbar-toggle {
	margin-top: 25px;
	border-color: #646464;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #3d3d3d;
}
/* /NAVIGATION BAR */

/* SOCIAL ICONS */
li.twitter a {
	width: 80px;
	background-color: #5ea9dd !important;
	color: #ffffff !important;
	font-size: 2.0em;
	text-align: center;
	box-shadow: none;
	border-right: none;
}

li.facebook a {
	width: 80px;
	background-color: #3b5998 !important;
	color: #ffffff !important;
	font-size: 2.0em;
	text-align: center;
	box-shadow: none;
	border-right: none;
}

li.github a {
	width: 80px;
	background-color: #ab0ac3 !important;
	color: #ffffff !important;
	font-size: 2.0em;
	text-align: center;
	box-shadow: none;
	border-right: none;
}
li.linkedin a{
	width: 80px;
	background-color: #1A85BC !important;
	color: #ffffff !important;
	font-size: 2.0em;
	text-align: center;
	box-shadow: none;
	border-right: none;
}
/* /SOCIAL ICONS */

/* SPINNING ICONS */
.fa-twitter:hover,
.fa-facebook:hover,
.fa-github:hover,
.fa-linkedin:hover{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.3s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.3s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
/* /SPINNING ICONS */

/* HEADER */
header {
	height: 750px;
	text-align: center;
	background: url(../img/background.jpg);
	background-attachment: fixed;
	padding-top: 200px; 
}
.profile-picture{
	border: 7px solid #ffffff;
	-webkit-box-shadow: 0px 6px 128px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 128px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 128px 0px rgba(0,0,0,0.75);
}

header h2{
	margin-top: 50px;
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	font-size: 3.5em;
}

header p{
	font-size: 1.3em;
	padding: 0 20px;
	margin-left: 120px;
	margin-right: 120px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
/* /HEADER */

/* ABOUT ME */

.main-content {
	padding: 20px 100px;
}

.main-content h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: #8901ab;
	border: 3px solid #8901ab;
	display: inline-block;
	padding: 10px 30px;
	margin-bottom: 25px;
}

.main-content h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.9em;
	color: #3f3f3f;
}

.main-content h4 small {
	color: #a0a0a0;
	font-size: .6em;
	border-left: 1px solid #a0a0a0;
	margin-left: 10px;
	padding-left: 10px;
}

.main-content .about-me p {
	font-size: 1.2em;
	color: #8a8a8a;
	margin-bottom: 35px;
}

.main-content .about-me a {
	text-decoration: none;
	color: #343434;
}

.main-content .about-me a:hover {
	color: #8a8a8a;
}

/* /ABOUT ME */

/* PORTFOLIO */

.main-content .column {
	text-align: center;
}
.main-content .column h4 {
	margin-top: 20px;
	color: #6a6a6a;
	font-size: 1.3em;
	text-transform: uppercase;
}
.main-content .column p {
	margin-top: 10px;
	color: #8a8a8a;
	line-height: 1em;
}

.main-content .portfolio h3 {
	margin-bottom: 40px;
}
/* /PORTFOLIO */

/* CONTACT */
.main-content .contact .row {
	padding-top: 20px;
}

.main-content .contact p {
	font-size: 1.2em;
	color: #8a8a8a;
}

.main-content .contact h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.9em;
	color: #3f3f3f;
}

	/* FORM */
	input {
		height: 50px;
		width: 100%;
		border: 3px solid #b9b9b9;
		color: #b9b9b9;
		padding: 0 20px;
		margin-bottom: 20px;
		font-family: 'Oswald', sans-serif;
		font-size: 1.3em;
	}

	.form-control {
		resize: none;
		border: 3px solid #b9b9b9;
		color: #b9b9b9;
		font-family: 'Oswald', sans-serif;
		font-size: 1.3em;
		padding: 10px 20px;
	}

	.form-control:focus {
		border: 3px solid #8901ab;
		box-shadow: 0 0 5px 1px #8901ab;
	}

	input:focus {
		border: 3px solid #8901ab;
		box-shadow: 0 0 5px 1px #8901ab;
	}

	.send {
		width: 180px;
		background-color: #ffffff;
	}

	.send:hover {
		color: #8901ab;
		border-color: #8901ab;
		box-shadow: 0 0 5px 1px #8901ab;
	}
	/* /FORM */

	/* QUICK INFO */
	.quick-info i {
		position: absolute;
		left: 0;
		padding-top: 2px;
		color: #b9b9b9;
		font-size: 1.4em;
	}

	.quick-info p {
		font-family: 'Oswald', sans-serif;
		color: #C3C3C3;
		padding-left: 15px;
	}

	.quick-info a {
		text-decoration: none;
	}
	.quick-info p:hover {
		color: #C3C3C3;
	}
	/* /QUICK INFO */

/* /CONTACT */

/* FOOTER */

footer {
	width: 100%;
	height: 200px;
	background-color: #474747;
	color: #ffffff;
	padding-top: 90px;
}

.pull-left {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}

.pull-left a {
	color: #ffffff;
}

.pull-right {
	margin-top: 5px;
	color: #acacac;
}

.pull-right a {
	color: #ffffff;
}

.pull-right p {
	line-height: .7em;
}

/* /FOOTER */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.navbar-default .navbar-nav>li>a {
		width: 100%;
		border-bottom: 1px solid #3d3d3d;
		text-align: center;
	}
	
	.navbar-default .navbar-nav>.open>a {
		width: 100%;
		border-bottom: 1px solid #3d3d3d;
		text-align: center;
	}
	
	.main-content {
		padding: 20px 40px;
	}
	
	#headerDiv {
	    margin-top: 60px;
	}
	
	header {
	    padding-top: 30px;
	    height: 500px;
    }

	header h2{
		margin-top: 30px;
		font-family: 'Oswald', sans-serif7;
		color: #ffffff;
		font-size: 2em;
	}

	header p{
		font-size: .7em;
		padding: 0 20px;
		margin-left: 30px;
		margin-right: 30px;
		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
	}
	
	.quick-info i{
		padding-left: 15px;
	}

	.quick-info p{
		padding-left: 30px;
	}

	/* ANIMATIONS */

	.twitter{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}

	.facebook{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}
	
	.github{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}

	.btn-about{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}
	.btn-portfolio{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}
	.btn-contact{
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  -ms-animation-delay: 0s;
	}
	.btn-language{
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -o-animation-delay: 0s;
      -ms-animation-delay: 0s;
	}

	.profile-picture {
	  -webkit-animation-delay: 3s;
	  -moz-animation-delay: 3s;
	  -o-animation-delay: 3s;
	  -ms-animation-delay: 3s;
	}

	.about-me {
	  -webkit-animation-delay: .1s;
	  -moz-animation-delay: .1s;
	  -o-animation-delay: .1s;
	  -ms-animation-delay: .1s;
	}

	/* /ANIMATIONS */

	/* FOOTER */

	footer {
		height: 200px;
	}

	.pull-left {
		font-family: 'Oswald', sans-serif;
		font-size: 1.5em;
		margin-top: -70px;
	}

	.pull-right {
		margin-top: -20px;
		color: #acacac;
	}

	.pull-right p {
		margin-top: 1px;
		line-height: 1em;
	}

	/* /FOOTER */

	/* ABOUT ME */

	.main-content h4 {
		font-size: 1.5em;
	}

	.main-content h4 small {
		font-size: .6em;
	}

	.main-content .about-me p {
		font-size: 1em;
	}

	/* /ABOUT ME */

	/* CONTACT */

	.main-content .contact p {
		font-size: 1em;
	}

	.main-content .contact h4 {
		font-family: 'Oswald', sans-serif;
		font-size: 1.5em;
		color: #3f3f3f;
	}

	input {
		font-size: 1em;
	}

	.form-control {
		font-size: 1em;
	}

	/* /CONTACT */
}